LGroup.RequestResponse.Client/LGroup.RequestResponse.Client/Service References/ProxyCliente/Cliente1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LGroup.RequestResponse.DataTransferObject.Delivery" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LGroup.RequestResponse.DataTransferObject.Delivery" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12345/Cliente?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LGroup.RequestResponse.DataTransferObject" />
  <xs:import schemaLocation="http://localhost:12345/Cliente?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:12345/Cliente?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LGroup.RequestResonse.ValueObject" />
  <xs:complexType name="RequestClienteDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LGroup.RequestResponse.DataTransferObject" minOccurs="0" name="Cliente" nillable="true" type="q1:ClienteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestClienteDTO" nillable="true" type="tns:RequestClienteDTO" />
  <xs:complexType name="ResponseClienteDTO">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LGroup.RequestResponse.DataTransferObject" minOccurs="0" name="Clientes" nillable="true" type="q2:ArrayOfClienteDTO" />
      <xs:element minOccurs="0" name="DataExecucao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TempoExecucao" type="ser:duration" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LGroup.RequestResonse.ValueObject" minOccurs="0" name="TipoMensagem" type="q3:TipoResposta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseClienteDTO" nillable="true" type="tns:ResponseClienteDTO" />
</xs:schema>